@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,400;1,500;1,600;1,700;1,800&family=Mukta:wght@200;300;400;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
    font-family: 'Karla', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.content{
    opacity: .8;
    margin: auto 0;
    width: 360px;
    background-color: black;
    color: wheat;
    height: calc(100vh - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: 5px;
    margin-top: 30px;
}
.text h4{
    font-family: 'Karla', sans-serif;
    padding: 15px 0;
    color: white;
    font-size: 32px;
    text-shadow: 3px 0px 3px #7cffe1;
}
a{
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.5s;
}
.img img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid white;
}
.btn{
    position: relative;
    z-index: 12;
    opacity: 1;
    width: 80%;
    background-color:  #5755A2FF;
    padding: 12px;
    border: none;
    margin: 10px 0;
    border-radius: 15px;
    transition: .3s all ease;
    border: 1px solid rgb(250, 250, 250);
}
#insta{
    background:linear-gradient(75deg, #FFBC52FF,#D1276EFF, #5755A2FF);
}
#tg{
    background-color: #22A0D3FF !important;
}
.btn#fece{
    border: 1px solid rgb(127, 161, 235);
    background-color: #012677FF !important;
}
#tok{
    background-color: #222;
    border: 1px solid white;
}
.btn:hover{
    border: 1px solid rgb(187, 129, 129);
}
.btn:hover a{
    color: cyan;
    text-shadow: cyan 2px;
}
.btn:hover .content{
    opacity: 1;
}
#insta:hover{
    border: 1px solid linear-gradient(75deg, #FFBC52FF,#D1276EFF, #5755A2FF);
}
.btn i{
    font-size: 15px;
    margin-right:10px;
}
.btn img{
    width: 15px;
    height: 15px;
    margin-right:10px;
}